<!DOCTYPE html>
<html>
  <head>
    <title>SAM VIDEO</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://use.typekit.net/yms6fel.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body class="tk-acumin-pro">
    <section class="header">
      <h1>SAM VIDEO</h1>
      <h2>VIDEO FOR COMPANIES</h2>
    </section>
    <section class="body">
      <div class="item">
        <div class="item-title">
          <span class="number">1</span>
          <span class="number-title">Fill out the form</span>
        </div>
        <form class="the-form">
          <div class="form-section">
            <label for="name">Your name</label>
            <input id="name" name="name" />
          </div>

          <div class="form-section">
            <label for="email">Your email address</label>
            <input id="email" name="email" />
          </div>

          <div class="form-section">
            <label for="company">Your company</label>
            <input id="company" name="company" />
          </div>

          <div class="form-section">
            <label for="product">Describe your company</label>
            <textarea id="product" name="product"></textarea>
          </div>

          <div class="form-section">
            <label for="whyus">Why do you want a Sam Video?</label>
            <textarea id="whyus" name="whyus"></textarea>
          </div>

          <div class="submit-section">
            <button type="submit">SEND</button>
          </div>
        </form>
      </div>
    </section>

    <section class="footer">
      Copyright 2016 Steamboat Labs LLC
    </section>
  </body>
</html>
