* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #E8E9EB;
  color: #3D474A;
}

.header {
  * {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  h1 {
    margin-top: 150px;
    font-size: 110px;
    font-weight: 900;
    letter-spacing: -5px;
    @media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
      font-size: 63px;
      letter-spacing: -2px;
      margin-top: 90px;
    }
  }
  h2 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 150px;
    @media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
      font-size: 28px;
      margin-bottom: 90px;
    }
  }
}

body section {
  max-width:690px;
  margin: 0 auto;
  @media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
      
  }
}

.item {
  .number {
    margin-left: 40px;
    display: inline-block;
    height: 85px;
    width: 85px;
    border-radius: 50% 50%;
    border: 6px solid #3D474A;
    line-height: 65px;
    font-weight: 700;
    font-size: 47px;
    text-align: center;
    @media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
      font-size: 28px;
      height: 50px;
      width: 50px;
      border-width: 3px;
      font-weight: 500;
      line-height: 43px;
      margin-left: 15px;
    }
  }
  .number-title {
    font-size: 62px;
    display: inline-block;
    margin-left: 20px;
    font-weight: 800;
    @media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
      font-size: 37px;
      margin-left: 13px;
      font-weight: 700;
    }
  }
}

.item-title {
  margin-bottom: 50px;
}

.form-section {
  @media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
    width: 92%;
    margin: 0 auto;
  }
  label {
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    height: 54px;
    line-height: 66px;
  }
  input {
    display: block;
    width: 100%;
    height: 70px;
    background-color: white;
    border: 1px solid #CBCBCB;
    border-radius: 10px;
    font-size: 22px;
    line-height: 70px;
    padding: 0px 15px;
    color: #3D474A;
    @media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
      height: 60px;
      line-height: 60px;
      font-size: 20px;
    }
  }
  textarea {
    width: 100%;
    height: 170px;
    background-color: white;
    border: 1px solid #CBCBCB;
    border-radius: 10px;
    font-size: 22px;
    padding: 15px;
    color: #3D474A;
  }
}

.the-form {
  max-width: 600px;
  margin: 0 auto;
}

.g-recaptcha {
  margin-top: 19px;
  @media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
    margin-left: 15px;
  }
}

.submit-section {
  margin: 20px 0;

  @media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
    width: 92%;
    margin: 20px auto;
  }
  button {
    cursor: pointer;
    background-color: #2A8CFF;
    border-radius: 10px;
    border: none;
    height: 70px;
    font-size: 22px;
    color: white;
    padding: 0 25px;
    @media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
      font-size: 20px;
      height: 60px;
    }
    &:hover {
      background-color: #0076FF;
    }
  }
}

#back2u {
  display: none;
  font-size: 53px;
  
  .number-title {
    @media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
      font-size: 28px;
      margin-left: 4px;
    }
  }
}

.footer {
  margin-top: 100px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}